<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/blog/delete/<%= id %>">
        <h1>Are you sure?</h1>
        <label for="input">Enter "YES" to confirm els it will redirect to the blog list:</label>
        <input type="text" id="input" name="input">
        <button type="submit">submit</button>
    </form>
</body>
</html>