<div id="navMenu" style="display: flex; justify-content: space-between; padding-right: 20px; padding-left: 10px;">
    <a id="homeBtn" href="/">Mystery blog</a>
    <button id="accountBtn" onclick="window.location.href = '/home'">Account</button>
</div>