<div id="navMenu">
    <a id="homeBtn" href="/">Mystery blog</a>
    <input id="blogSearchInput" type="text" onkeypress="searchBlog(event)">
    <button id="filterBtn" onclick="showFilterMenu()">Filters</button>
    <button id="newBlogBtn" onclick="window.location.href = '/blog/new'">New blog</button>
</div>
<%- include("../addons/filterMenu.ejs") %>

<% if (activeFilters.length > 0) { %>
    <script>
        var tempElement = document.createElement('div');
        tempElement.innerHTML = '<%= activeFilters %>';
        var decodedString = tempElement.textContent || tempElement.innerText;
        var activeFilters = JSON.parse(decodedString);
    </script>
<% } else { %>
    <script>
        var activeFilters = [];
    </script>
<% } %>
<script>
    var blogSearch = '<%= blogSearch ? blogSearch : "" %>';

    document.getElementById("blogSearchInput").value = blogSearch;

    function showFilterMenu() {
        var filterMenu = document.getElementById("filterMenu");
        filterMenu.style.display = (filterMenu.style.display === "flex") ? "none" : "flex";
    }

    function addFilter(filter) {
        if (activeFilters.includes(filter)) {
            activeFilters = activeFilters.filter(item => item !== filter);
        }
        else {
            activeFilters.push(filter);
        }
    }

    function searchBlog(e) {
        if (e.key === "Enter") {
            blogSearch = document.getElementById("blogSearchInput").value;
            search();
        }
    }

    function search() {
        if (blogSearch) {
            if (activeFilters && activeFilters.length > 0) {
                window.location.href = `/home/{"search":"${blogSearch}", "filters":${JSON.stringify(activeFilters)}}`;
            }
            else {
                window.location.href = `/home/{"search":"${blogSearch}"}`;
            }
        }
        else if (activeFilters && activeFilters.length > 0) {
            window.location.href = `/home/{"filters":${JSON.stringify(activeFilters)}}`;
        }
        else {
            window.location.href = `/home`;
        }
    }
</script>