<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggar</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/list.css">
</head>
<body>
    <%- include("header.ejs") %>
    <div id="bloglist">
        <%- include("../addons/blogList.ejs") %>
    </div>
</body>
</html>
<script>
</script>