* {
    box-sizing: border-box;   
}

body {
    font-family: Arial;
    padding: 20px;
    background: rgb(30, 30, 30);
}

h2 {
    margin: 10px;
}

.header {
    padding: 5px;
    font-size: 40px;
    text-align: center;
    background: rgb(105, 105, 105);
}

.images {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.imgHolder {
    width: 18%;
    margin: 0% 1%;
}

.img {
    max-width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 105, 105);
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    } 
}