#blogSearchInput {
    width: calc(100vw - 600px);
    height: 40px;
    font-size: medium;
    color: white;
    background-color: rgb(30, 30, 30);
    margin: 0 40px 0 40px;
}
#filterBtn {
    width: 60px;
    height: 40px;
    font-size: medium;
    color: white;
    background-color: rgb(105, 105, 105);
}


#filterMenu {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(105, 105, 105);
    top: 60px;
    width: 100vw;
    height: 160px;
    padding: 20px;
}
#filters {
}
label.filter {
    font-size: medium;
}
input.filter {
    background-color: rgb(105, 105, 105);
}
#filterBar {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
}
#filterSearchBtn {
    font-size: x-large;
    background-color: rgb(105, 105, 105);
}
#filterCloseBtn {
    font-size: x-large;
    background-color: rgb(105, 105, 105);
}
