#blogSearchInput {
    width: calc(100vw - 80px - 210px - 80px - 190px);
    height: 40px;
    font-size: medium;
    color: white;
    background-color: rgb(30, 30, 30);
    margin: 0 40px 0 40px;
}
#filterBtn {
    width: 60px;
    height: 40px;
    font-size: medium;
    color: white;
    background-color: rgb(105, 105, 105);
}
#accountBtn {
    width: 150px;
    height: 40px;
    margin-left: 20px;
    font-size: medium;
    color: white;
    background-color: rgb(105, 105, 105);
}

#filterMenu {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(105, 105, 105);
    top: 60px;
    width: 100vw;
    height: 160px;
    padding: 20px;
}
#filters {
}
label.filter {
    font-size: medium;
}
input.filter {
    background-color: rgb(105, 105, 105);
}
#filterBar {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
}
#filterSearchBtn {
    font-size: x-large;
    background-color: rgb(105, 105, 105);
}
#filterCloseBtn {
    font-size: x-large;
    background-color: rgb(105, 105, 105);
}
#bloglist {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}
div.blogCard {
    display: flex;
    width: calc(100vw - 100px);
    height: 230px;
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(105, 105, 105);
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
}
a.blogHeader {
    font-size: xx-large;
    color: white;
}
p.blogPreview {
    font-size: small;
}
h1.author {
    font-size: large;
    color: rgb(160, 160, 160);
}
h2.posted{
    font-size: large;
    color: gray;
    margin: 0;
}
img.postedImg {
    width: 15px;
    height: 15px;
}
div.blogCardText {
    height: 260px;
    width: 100%;
}
div.tags {
    display: flex;
    align-items: flex-end;
    height: 40px;
    width: 100%;
}
button.tags {
    background-color: gray;
    border-radius: 8px;
    margin: 1px 2px;
}