body {
    margin: 0;
    background-color: rgb(40, 40, 40);
}
#navMenu {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: rgb(30, 30, 30);
    border-bottom: 1px solid white;
}
#bloglist {
    margin-top: 100px;
}
div.blog {
    width: 97vw;
    height: 300px;
    background-color: rgb(30, 30, 30);
    border-bottom: 1px solid white;
}
a.blog {

}
p.blog {

}
