<div id="1" class="blogCard">
    <div class="blogCardText">
        <a class="blogHeader" href="/blog/1">
            Famely vacation
        </a>
        <h1 class="author">Author: bob</h1>
        <h2 class="posted">
            <img class="postedImg" src="/assets/img/clock.png" alt="">Posted 2 months ago
        </h2>
        <p class="blogPreview">
            today my family whent to the park to whatch som fish. we gave some food to the ducks and had a good time but ...
        </p>
    </div>
    <div class="tags">
        <button class="tags">family</button>
        <button class="tags">friends</button>
        <button class="tags">park</button>
    </div>
</div>
<div id="1" class="blogCard">
    <div class="blogCardText">
        <a class="blogHeader" href="/blog/1">
            Famely vacation
        </a>
        <h1 class="author">Author: bob</h1>
        <h2 class="posted">
            <img class="postedImg" alt="" src="/assets/img/clock.png">Posted 2 months ago
        </h2>
        <p class="blogPreview">
            today my family whent to the park to whatch som fish. we gave some food to the ducks and had a good time but ...
        </p>
    </div>
    <div class="tags">
        <button class="tags">family</button>
        <button class="tags">friends</button>
        <button class="tags">park</button>
    </div>
</div>
<div id="1" class="blogCard">
    <div class="blogCardText">
        <a class="blogHeader" href="/blog/1">
            Famely vacation
        </a>
        <h1 class="author">Author: bob</h1>
        <h2 class="posted">
            <img class="postedImg" alt="" src="/assets/img/clock.png">Posted 2 months ago
        </h2>
        <p class="blogPreview">
            today my family whent to the park to whatch som fish. we gave some food to the ducks and had a good time but ...
        </p>
    </div>
    <div class="tags">
        <button class="tags">family</button>
        <button class="tags">friends</button>
        <button class="tags">park</button>
    </div>
</div>